@page
@model OSGPView.Pages.TestItemModel
@{
    ViewData["Title"] = "TestItem";
}

<h1>TestItem</h1>

<div>
    <p>name: @Model.item.name</p>
    <p><img src="@Model.item.imageLink" /></p>
    <p>price: @Model.item.price</p>
    <p>type: @Model.item.type</p>
    <p>stabAcc: @Model.item.stabAcc</p>
    <p>slashAcc: @Model.item.slashAcc</p>
    <p>crushAcc: @Model.item.crushAcc</p>
    <p>magicAcc: @Model.item.magicAcc</p>
    <p>rangedAcc: @Model.item.rangedAcc</p>
    <p>stabDef: @Model.item.stabDef</p>
    <p>slashDef: @Model.item.slashDef</p>
    <p>crushDef: @Model.item.crushDef</p>
    <p>magicDef: @Model.item.magicDef</p>
    <p>rangedDef: @Model.item.rangedDef</p>
    <p>strengthBonus: @Model.item.strengthBonus</p>
    <p>magicStrength: @Model.item.magicStrength</p>
    <p>rangedStrength: @Model.item.rangedStrength</p>
    <p>prayerBonus: @Model.item.prayerBonus</p>
</div>